* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 200px;
  background-color: #EFF6FF; /* White Blue */ 
  margin-top: 1in;
  margin-left: 2in;
  margin-right: 2in;
  margin-bottom: 1in;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 200px;

  background-color: #1D2634; /* Dark Blue */ 
}

.logo img {
  height: 175px; 
  width: auto; 
}

.nav-links {
  display: flex;
  list-style: none; 
  gap: 20px; 
}

.nav-links a {
  position: relative;
  padding: 12px 20px;
  color: #B3966B; /* Gold */ 
  text-decoration: none;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background: #B3966B; /* Gold */ 
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}

h1 {
  font-family: 'Arial', sans-serif;  /* font type */
  font-size: 48px;                    /* size of the text */
  font-weight: bold;                  /* thickness of text */
  color: #1D2634;                     /* text color */
  line-height: 1.2;                   /* vertical spacing between lines */
  margin-top: 20px;                   /* space above the heading */
  margin-bottom: 15px;                /* space below the heading */
  letter-spacing: 1px;                /* space between letters */
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #1D2634;
  line-height: 1.3;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}



