* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 200px;
  background-color: #1D2634;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 192px;

  background-color: #1D2634;
  border-bottom: 3px solid #2258c3
}

.logo img {
  height: 175px; 
  width: auto; 
}

.nav-links {
  display: flex;
  list-style: none; 
  gap: 20px; 
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: #2258c3;
}

.nav-links a:hover {
  background-color: #fd2df3;
}

