* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 200px;
  background-color: #101B30;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 95%;
  height: 192px;

  margin: 0 auto;
  padding: 10px 40px;

  background-color: #1D2634;
  border-radius: 30px;
}

.logo {
  width: 12rem;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  height: 50px;   /* smaller logo */
  width: auto;    /* keeps proportions */
}

/* NAV LINKS */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: #2258c3;
}

.nav-links a:hover {
  background-color: #fd2df3;
}

.sidebar {
  width: 250px;                  /* adjust width */
  background-color: #101B30;     /* dark blue */
  color: white;
  padding: 20px;
  height: 100vh;                 /* full height */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;            /* circular image */
  object-fit: cover;
  margin-bottom: 20px;
}

.sidebar a {
  color: #00bcd4;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}
