* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 200px; /* space for fixed navbar */
  background-color: #101B30;
}

.navbar {
  width: 100%;                 /* full width */
  height: 192px;               /* ~2 inches */
  background-color: #101B30;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* Nav list */
.nav-links {
  list-style: none;
  display: flex;               /* horizontal layout */
  gap: 20px;
}

/* Buttons */
.nav-links a {
  display: inline-block;
  padding: 15px 25px;
  background-color: #444;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #00bcd4;
}
