* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 200px;
  background-color: #101B30;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 95%;
  height: 192px;

  margin: 0 auto;
  padding: 10px 40px;

  background-color: #101B30;
  border-radius: 30px;
}

/* LOGO */
.logo {
  width: 12rem;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: #2258c3;
}

.nav-links a:hover {
  background-color: #fd2df3;
}
