* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 200px;
  background-color: #DEE6F5;
  margin-top: 1in;
  margin-left: 2in;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 200px;

  background-color: #EFF6FF;
}

.logo img {
  height: 175px; 
  width: auto; 
}

.nav-links {
  display: flex;
  list-style: none; 
  gap: 20px; 
}

.nav-links a {
  position: relative;
  padding: 12px 20px;
  color: #B3966B;
  text-decoration: none;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background: #B3966B;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}


